.galleryWrapper{
    background: #f7f7f7;
    padding-bottom: 6rem;
    text-align: center;
    min-height: 35rem;
}
.photoBlockWrapper{
    padding: 0.5rem 0;
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
}
.galleryPhotoBanner{
    background-image: url('https://gdurl.com/XKjx');
    background-size: cover;
    background-position: 50% 80%;
}
.galleryPhotoBanner__content{
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    padding: 9% 1.6rem;
}
.galleryPhotoBanner__content h1{
    letter-spacing: 0.1rem;
    font-family: 'Carter One';
    color: white;
    font-size: 11rem;
    margin: 0;
}
.slideShowWrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    top: 0;
}
.slideShowWrapper__imgWrapper{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
.slideShowWrapper__imgWrapper__active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slideShowWrapper__imgWrapper img{
    max-width: 100%;
    @media screen and (max-height: 650px){
        max-height: 600px;
    }
    @media screen and (max-height: 600px){
        max-height: 550px;
    }
    @media screen and (max-height: 550px){
        max-height: 500px;
    }
    @media screen and (max-height: 500px){
        max-height: 450px;
    }
    @media screen and (max-height: 450px){
        max-height: 400px;
    }
    @media screen and (max-height: 400px){
        max-height: 350px;
    }
    @media screen and (max-height: 350px){
        max-height: 300px;
    }
    @media screen and (max-height: 300px){
        max-height: 200px;
    }
}
.imgWrapperActive{
    display: block;
}
.slideShowBtn{
    color: white;
    cursor: pointer;
}
.exitBtnWrapper{
    text-align: left;
    margin: 0 auto;
    position: absolute;
    z-index: 1010;
}
.exitBtn{
    padding: 1rem 0 0 1rem;
}
.preBtnWrapper{
    left: 0px;
    position: absolute;
    width: 3rem;
    height: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    z-index: 1010;
}
.nextBtnWrapper{
    right: 0px;
    position: absolute;
    width: 5rem;
    height: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    z-index: 1010;
}
.switchSvg{
    width: 25px;
    fill: #b7b7b7;
}
.switchSvg:hover{
    fill: white;
}
.exitSvg{
    width: 15px;
    fill: #b7b7b7;
}
.exitSvg:hover{
    fill: white;
}
