*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #444444;
}
html{
    font-size: 62.5%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
